@{
    ViewBag.Page = "AboutUs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>
    <!-- Hero Image -->
    <div class="hero-image">
        <img class="hero-image__background" src="~/Images/AboutUs/HeroPicture.jpg">
        <div class="hero-content">
            <div class="hero-text">
                <h1>ABOUT US</h1>
            </div>
            <div class="hero-image__container">
                <img class="hero-image__img" src="~/Images/AboutUs/HeroPictureTwo.png">
            </div>
        </div>
    </div>
    <!-- Web page Content -->
    <div class="about-us-container">
        <div class="box image-box">
            <img src="~/Images/AboutUs/ImageOne.jpg">
        </div>
        <div class="box text-box">
            <p>
                We are committed to providing quality car rental services and understand the importance of expertise.
                That's why we not only offer a five-star car rental experience, but also bring years of expertise and
                experience to bear on every rental process.  And most importantly, we set reasonable prices so that
                you can enjoy the best car rental experience.  Therefore, if you choose us, you will get a satisfactory
                five-star car rental experience and professional knowledge guidance.
            </p>
        </div>
        <div class="box text-box">
            <p>
                We are a company with a very good team, in order to make your trip more convenient in Kuching, Sarawak,
                we provide car rental service.  We have more than 60 cars to choose from. Whether you need to travel
                by car or pick up the airport, we can arrange a comprehensive transportation service for you.
                Let our professional team provide you with considerate service and make your journey more enjoyable!
            </p>
        </div>
        <div class="box image-box">
            <img src="~/Images/AboutUs/ImageTwo.jpg">
        </div>
        <div class="box image-box">
            <img src="~/Images/AboutUs/ImageThree.jpg">
        </div>
        <div class="box text-box">
            <p>
                Our company offers top-notch car rental services, tailor-made for your trip in Kuching, Sarawak.
                We guarantee that the vehicles we provide have undergone strict cleaning and safety inspections,
                so that you can feel at ease and comfortable during the trip.  Best of all, our rates are absolutely
                reasonable with no hidden fees making it easy for you to enjoy cheap car rental in Kuching.
                Book your rental car now and let us take you around this beautiful city!
            </p>
        </div>
    </div>
</body>
</html>