@{
    ViewBag.Page = "TNC";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>
    <!-- Hero Image -->
    <div class="hero-image">
        <img class="hero-image__background" src="~/Images/TNC/HeroBigImg.jpg">
        <div class="hero-content">
            <div class="hero-text">
                <h1>TERMS AND CONDITIONS</h1>
            </div>
            <div class="hero-image__container">
                <img class="hero-image__img" src="~/Images/TNC/HeroImgTwo.png">
            </div>
        </div>
    </div>
    <!-- Web page Content -->
    <div class="tnc-flex-wrapper">
        <div class="tnc-flex-container">
            <div class="row">
                <div class="column">
                    <p>
                        By renting a vehicle from our company, you agree to comply with and be bound 
                        by all the terms and conditions outlined herein. These terms and conditions 
                        govern your rental agreement with us; by renting a vehicle, you accept these 
                        terms and conditions in full. If you disagree with any part of these terms 
                        and conditions, you must not proceed with the rental. It is important to 
                        read all terms and conditions carefully to ensure full understanding and 
                        compliance. Failure to adhere to these terms and conditions may result 
                        in consequences, including but not limited to the termination of your 
                        rental agreement or legal action. If you have any questions regarding 
                        these terms and conditions, please contact us for clarification.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <ol>
                        <li class="question" onclick="showAnswerFuntion('1')">
                            DOCUMENTS REQUIRED
                            <div class="answer" id="myDIV1" style="display:none">
                                <ul>
                                    <li>NRIC / Passport</li>
                                    <li>Driving License</li>
                                    <li>Flight Itinerary</li>
                                    <li>Age from 20- 65</li>
                                    <li>Show us the same original documents when you pick up the car</li>
                                </ul>
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('2')">
                            CAR PAYMENT
                            <div class="answer" id="myDIV2" style="display:none">Kindly make FULL PAYMENT upon pick up the car, Cash, Credit Card and Online Bank Transfer acceptable.</div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('3')">
                            CAR RENTAL USAGE TIME
                            <div class="answer" id="myDIV3" style="display:none">
                                Car rental usage time is less than 24 hours still be charged for the full day rate and additional rent at daily rate.
                                Your total rental rate is calculated based on the information provided at time of reservation. Once confirmation and detail provided, NO CANCELLATION after booking, Booking Fee
                                15% from total rental will be forfeited.
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('4')">
                            DAMAGE / ACCIDENT
                            <div class="answer" id="myDIV4" style="display:none">
                                <ul>
                                    <li>NO DRUGS OR ALCOHOL</li>
                                    <li>Obey the driving law</li>
                                    <li>No Smoking</li>
                                    <li>No Durians (except packed)</li>
                                    <li>No Speeding (speeding in Kuching town area 70km/h , Kuching highway 90km/h. )</li>
                                    <li>No parking at restricted areas</li>
                                    <li>No spills</li>
                                    <li>Eat or drink with care</li>
                                    <li>No pet</li>
                                    <li>keep personal items at your own risk.</li>
                                    <li>The hirer are responsible for all parking fees or Traffic/JPJ/MBKS /PDRM fines/compound incurred during the rental period.</li>
                                </ul>
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('5')">
                            DRIVING RESTRICTIONS
                            <div class="answer" id="myDIV5" style="display:none">
                                The use of car rental is strictly restricted within Kuching town (EXCEPT Puncak Borneo Highland),
                                Kota Samarahan, Serian (until Serian Town). Out of these mentioned areas will be imposed a penalty
                                of RM500 unless obtaining prior permission. NOT ALLOWED drive to outside Malaysia e.g Indonesia.<br>
                                A non-negotiable charges of RM500 will be imposed if do not notify us or get prior permission for outstation outside Kuching from us.
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('6')">
                            EXTENSION
                            <div class="answer" id="myDIV6" style="display:none">
                                Do inform 1 day early to get approval for extension of rental. Any extension will be charged
                                accordingly. For extend hour from Rm10-Rm100/hour based on car model. After 5 hour count as 1 day.<br>
                                – no rebate or refund for early return
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('7')">
                            CAR DELIVERY
                            <div class="answer" id="myDIV7" style="display:none">
                                Free delivery & drop off at Kuching Airport / Kuching Sentral (bus station). Pick up / drop off will be
                                charges for other locations, rate from rm15-50/way. Delivery charges may vary by location and/or based on real-time traffic conditions.
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('8')">
                            REFUNDABLE SECURITY DEPOSIT
                            <div class="answer" id="myDIV8" style="display:none">
                                <ul>
                                    <li>compact RM200</li>
                                    <li>sedan RM200-500</li>
                                    <li>mpv, suv, 4×4, van RM200-1000</li>
                                </ul>
                                Refund of Security Deposit will be make upon car return in good condition and clean or after deducting any charges, penalty, police summon and etc.
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('9')">
                            ADDITIONAL CHARGES
                            <div class="answer" id="myDIV9" style="display:none">Additional charge for midnight delivery – RM50/deliver (10pm – 8am)</div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('10')">
                            FUEL USAGE POLICY
                            <div class="answer" id="myDIV10" style="display:none">Fuel (petrol / diesel), fuel level should be maintained at the same level as when hirer pick up the car.</div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('11')">
                            CANCELATION AND BOOKING CHANGES
                            <div class="answer" id="myDIV11" style="display:none">
                                If you choose to cancel your booking after confirmed, please be aware that
                                your 15% booking fee will be forfeited. This policy is in place to ensure the
                                availability of our car rental services for all our valued customers. However, we
                                recognize that circumstances may require changes to your booking date and
                                time. To accommodate your changing needs, we allow our customers to
                                modify their booking by contacting us via call or WhatsApp. This way, we aim
                                to provide you with the best possible experience while working together in a
                                cooperative manner.
                                <br /><br />
                                We appreciate your understanding and cooperation in adhering to our refund
                                and returns policy. If you have any questions or need assistance with booking
                                changes, please feel free to contact us via call or WhatsApp, and we will be
                                glad to assist you. Your satisfaction is our priority.
                            </div>
                        </li>

                        <li class="question" onclick="showAnswerFuntion('12')">
                            VEHICLE INSURANCE
                            <div class="answer" id="myDIV12" style="display:none">
                                All vehicles come with full insurance coverage under a standard motor vehicle policy. However,
                                hirers are responsible for excess charges, which vary based on vehicle groups:<br>
                                <ul>
                                    <li>Compact : Excess not exceeding MYR2,000</li>
                                    <li>Sedan : Excess not exceeding MYR2,500</li>
                                    <li>MPV/SUV : Excess not exceeding MYR3,000</li>
                                    <li>Luxury/MPV/VAN : Excess not exceeding MYR5,000</li>
                                </ul>
                                <br>
                                Reduce Excess with Excess Protection: Hirers have the option to waive the
                                excess by purchasing Excess Protection at an additional cost.You can purchase Excess Protection for:<br>
                                <ul>
                                    <li>Compact : MYR40.00 per day</li>
                                    <li>Sedan : MYR50.00 per day</li>
                                    <li>MPV / SUV : MYR60.00 per day</li>
                                    <li>Luxury/MPV/VAN: MYR80.00 per day</li>
                                </ul>
                                <br>
                                *Please note that insurance and excess protection do not cover damages or losses due to:
                                <br>
                                <ul>
                                    <li>Careless actions</li>
                                    <li>Negligence</li>
                                    <li>Unauthorized or improper use of the vehicle</li>
                                    <li>Tire punctures</li>
                                    <li>Burst tires</li>
                                    <li>Fuel errors</li>
                                    <li>Battery damage due to disconnected electrical devices</li>
                                    <li>Loss or damage to vehicle accessories</li>
                                </ul>
                                <br>
                                Collision Coverage: Accidents or damages are only covered for collisions between two moving
                                objects. Damages while the vehicle is stationary will be the full responsibility of the hirer and will
                                incur excess charges.<br>
                                Third-Party Involvement: In the event of damages involving third parties, hirers are required to
                                obtain information from the third-party driver, including:
                                <ul>
                                    <li>Driver’s name</li>
                                    <li>IC/Passport</li>
                                    <li>Driving license</li>
                                    <li>Vehicle registration number</li>
                                </ul>
                                If claims cannot be made against third-party insurance, all damages will be the hirer’s responsibility
                                and will incur excess charges.
                                Underbody and Overhead Damages: Hirers are reminded that damages to the underbody and
                                overhead are their own risks at all times.
                                <div class="tnc-title">
                                    Road Restrictions
                                </div>
                                All insurance and excess protection are invalid if the vehicle is driven on uncovered and unpaved
                                roads.
                                <div class="tnc-title">
                                    Reporting Incidents
                                </div>
                                Hirers are required to contact our representative immediately to inform us of any accidents or car
                                theft incidents. Police reports must be made within 24 hours after the accident or since discovering
                                the theft or loss, and must be obtained in writing.
                                <br>
                                Repair cost varies depending on the car type and model.<br><br>
                                The Excess Protection for accident or damage only applicable for collision between two moving cars. 
                                Any damage while the vehicle is stationary will be under hirer responsibility and subject to the excess
                                clause as mentioned above. Excess protection does not apply for damage as a result of your illegal, negligence,
                                careless actions, car lost, tyre punctures, bust tire, fuel errors, lack of electricity because of forgotten
                                turned off electrical devices, loss or damage to the vehicle accessories and damages of windows, mirror and undercarriage.<br><br>
                                If the accident or damage to the vehicle is cause by third party vehicle, then the hirer is responsible
                                to get all third-party detail such as vehicle registration number, driver’s name and driving license number.
                                If the claims cannot be made against third party insurance, therefore all damage will be
                                borne by hirer subject to excess clause as mentioned above.<br><br>
                                We kindly request that you carefully review the terms and conditions outlined in the Vehicle Use
                                Agreement before proceeding. Your comprehension and collaboration are greatly appreciated.
                                We thank you for your ongoing patronage. Please contact us for further clarification
                            </div>
                        </li>
                        <li class="question" onclick="showAnswerFuntion('13')">
                            PRIVACY POLICY
                            <div class="answer" id="myDIV13" style="display:none">
                                At WAGONS CAR RENTAL SERVICES, we highly value your privacy. We are
                                committed to safeguarding the confidentiality of the personal information you
                                provide to us. We collect your personal data with the aim of delivering our car
                                rental services, for future marketing purposes, and to enhance our services.
                                Please be assured that only authorized employees within our organization
                                have access to your personal information. We do not disclose customer
                                information to third parties, except when it is necessary to provide a service to
                                you, such as arranging product delivery, conducting credit and security
                                checks, or for customer research and profiling purposes. In certain cases, we
                                may be required to share this information with regulators, legal authorities,
                                auditors, affiliated companies, third-party service providers, and appointed
                                marketing agencies.
                                <div class="tnc-title">
                                    Your Consent
                                </div>
                                We will never sell your name, address, email address, credit card information,
                                or personal information to any third party, excluding partners with whom you
                                may have linked to our website, without your explicit permission.
                                <div class="tnc-title">
                                    Communication & Marketing
                                </div>
                                If you’ve made a car rental with us, we may occasionally update you on our
                                latest services, news, and special offers through email, postal mail, or
                                telephone. You will have the opportunity to receive such communications
                                from WAGONS CAR RENTAL SERVICES and selected third parties when you
                                become a member.<br />
                                All members of WAGONS CAR RENTAL SERVICES have the option to opt-out of
                                receiving marketing communications from us and/or selected third parties. If
                                you no longer wish to receive marketing materials, please opt-out by visiting
                                ‘Your Details’ in ‘Your Account’ on our website. You can access ‘Your Account’
                                after registering and logging in, or you can click on the ‘unsubscribe’ link in
                                any email communications we send you.
                                <div class="tnc-title">
                                    What are Cookies?
                                </div>
                                A cookie is a small information file sent to your computer and stored on your
                                hard drive. If you’ve registered with us, your computer will store an identifying
                                cookie that saves you time when you revisit WAGONS CAR RENTAL SERVICES by
                                remembering your email address. You can adjust your browser settings to
                                prevent cookies from being stored on your computer without your explicit
                                consent.
                                <div class="tnc-title">
                                    Site Statistics
                                </div>
                                We may share anonymized, aggregated statistics about the number of
                                visitors to our website or the number of car rentals made, as required by our
                                investors. We use an independent measurement and research company to
                                collect data about website visitors on our behalf using cookies and embedded
                                code. This information includes statistics about page visits, page view
                                duration, visitor paths through the site, screen settings, and other general
                                data. We use this information, along with other data collected from cookies on
                                the site, to enhance our services for users. For further details about the
                                collection and use of this information, please contact us.
                                <div class="tnc-title">
                                    Disclosures of Your Information
                                </div>
                                We may disclose your personal information to our group of companies or to
                                third parties in the following cases:
                                If WAGONS CAR RENTAL SERVICES buys or sells a business or assets.
                                If WAGONS CAR RENTAL SERVICES, or a substantial portion of its assets, is
                                acquired by a third party, in which case customer data may be transferred.
                                If we are obligated to share your personal data to comply with legal
                                obligations, enforce our terms, protect the rights, property, or safety of FVSB,
                                our customers, or others, including sharing information with companies and
                                organizations for fraud prevention and credit risk reduction.
                                <div class="tnc-title">
                                    Third Party Sites
                                </div>
                                Our website may contain links to third-party websites, including partner
                                networks and advertisers. Please be aware that these websites have their own
                                privacy policies, and we do not assume responsibility for or liability related to
                                these policies. We recommend reviewing these policies before providing any
                                personal data to these websites.
                                <div class="tnc-title">
                                    Checking Your Details
                                </div>
                                If you wish to verify the details you’ve provided to WAGONS CAR RENTAL
                                SERVICES, you can contact us using the email address or physical address
                                provided below. Our security measures may require proof of identity before
                                revealing information. This proof of identity includes your email address and
                                password provided during registration. Keep this information safe as you are
                                responsible for any actions taken in response to a request from someone
                                using your email and password. We strongly advise against using the
                                browser’s password memory function, as it could permit unauthorized access
                                to your personal information.
                                <div class="tnc-title">
                                    Contacting Us
                                </div>
                                We always appreciate hearing from our customers, whether it’s feedback or
                                inquiries. We are grateful for the time you spend helping us ensure our
                                customers are fully satisfied and for any referrals you may provide to friends
                                and family. If you have questions or feedback regarding this policy or if you
                                wish to stop the processing of your information, please don’t hesitate to
                                contact a member of the WAGONS CAR RENTAL SERVICES team, who will be
                                happy to assist you.
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showAnswerFuntion(value) {
            var x = document.getElementById("myDIV" + value);
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>
</html>